{% extends "base.html" %}

{% block title %}Pewniaczki - Strona w budowie{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<!-- Dekoracyjne tło -->
<div class="mid-line"></div>
<div class="center-circle"></div>
<div class="penalty-box left-box"></div>
<div class="penalty-box right-box"></div>


<div class="wrapper">
  <img src="/static/pewniaczkilogo.png" alt="Logo" />
  <p>Predykcje wyników meczów piłkarskich</p>
  <h2>⚽ Projekt w budowie ⚽</h2>
  <p><strong>Już wkrótce znajdziesz tu typy, analizy i wyniki meczów!</strong></p>
</div>

<footer>
  &copy; 2025 Pewniaczki ⚽ Wszystkie prawa zastrzeżone.
</footer>
{% endblock %}